<%= form_tag sessions_path, :method => :post do %>

  <div class="text-input-container">
    <%= email_field_tag :email, params[:email], :placeholder => "Email Address", :class => 'text_field', :required => true %>
  </div>

  <div class="text-input-container">
    <%= password_field_tag :password, params[:password], :placeholder => "Password", :class => 'text_field', :required => true %>
  </div>

  <div class="row-fluid">
    <div class="span1">
      <%= check_box_tag :remember_me, "1", params[:remember_me] %>
    </div>
    <div class="span5">
      <%= label_tag :remember_me, "Remember me", :class => 'small' %>
    </div>
    <div class="span6 right">
      <%= link_to 'Forgot password?', new_password_reset_path %>
    </div>
  </div>

  <%= submit_tag "Log in", :class => 'btn btn-info login-btn' %>
<% end %>