<!-- <h1>Listing companies</h1> -->

<div class="page-header" style="border-bottom: none;">
  <h1><small>Companies</small></h1>
</div>


<table class="table table-hover">
  <tr>
    <td>Title</td>
    <td>Address</td>
    <td></td>
  </tr>

<% @companies.each do |company| %>
  
    <tr>
      
      <td>
        <%= link_to company_path(company), :class => "invisible-link" do %>
            <%= company.title %>
        <% end %>    
      </td>
      
      <td>
        <%= link_to company_path(company), :class => "invisible-link" do %>
          <%= company.address %>
        <% end %>
      </td>

      <td>
        <%= link_to "Write a review", new_company_review_path(company), :class => "btn btn-success"  %>
      </td>

    </tr>
   
<% end %>
<tr>
      
      <td>
        
      </td>
      
      <td class="text-right" style="color: #27338a; font-style: italic;">
        Your company is not available on the list
      </td>

      <td>
        <%= link_to "Write a review here", new_company_path, :class => "btn btn-warning", :type => "button" %>
      </td>

    </tr>

</table>

<br />

