<div class="row">

<div class="col-md-6 col-sm-6" style="border-bottom: 1px solid #ec790d;">
	<%= @company.title %>
</div>
</div>

<div class="row">

<div class="col-md-6 col-sm-6" style="border-bottom: 1px solid #ec790d;color: #27338a; font-style: italic; font-size: 15px;">
	<%= @review.title %>
</div>

</div>

<div class="row">

<div class="col-md-6 col-sm-6" style="border-bottom: 1px solid #ec790d;">
	<%= @review.content %>
</div>

</div>

<div class="row">

<div class="col-md-6 col-sm-6" style="border-bottom: 1px solid #ec790d;color: #95c11e;font-weight: bold;">
	<%= @review.positive_sides %>
</div>

</div>

<div class="row">

<div class="col-md-6 col-sm-6" style="border-bottom: 1px solid #ec790d;color: #ec790d;font-weight: bold;">
	<%= @review.negative_sides %>
</div>

</div>